/combined_results
/dataset
/extracted_dataset

/peptrust_visualization
/precision
/searched_results

/41592_2017_BFnmeth4153_MOESM250_ESM.xlsx
/peptide-identifications.csv

/data-import.R
/data-preprocessing.R
/MGF_spectra_extractor.py
/voting_integrated.R
/voting_multi-pool.R
/voting.R

.DS_Store
.Rhistory
.Rproj.user

